@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}
body{
  min-height: 100vh;
}
h1{
  font-weight: 700;
}
h2{
  font-weight: 600;
}
h3{
  font-weight: 500;
}
h4{
  font-weight: 300;
}
h5{
  font-weight: 200;
}
h6{
  font-weight: 100;
}
p{
  font-weight: 300;
}

#logo{
  width: 42px;
  padding: 0px 2px;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(72, 72, 72, 0.718);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.overlay.active{
  opacity: 1;
  pointer-events: all;
}
.off-screen-menu{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.233);
  background-color: #7f6553;
  z-index: 998;
}
nav ul, .off-screen-menu{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li,.off-screen-menu li{
  height: 50px;
}
nav a, .off-screen-menu a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 45px;
  font-weight: 200;
}
nav a:hover, .off-screen-menu a:hover{
  background-color: #5d4637 ;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 500px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}
.sidebar li{
  width: 466px;
  height: 100px;
}
.sidebar li:first-child{
  height: 50px;
}
.sidebar li:last-child{
  margin-top: auto;
}
.sidebar li:last-child a{
  font-size: 25px;
  font-weight: 100;
}
.off-screen-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 466px;
  background-color: #856b5aa7;
  backdrop-filter: blur(10px); 
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-101%);
  transition: transform .5s ease;
  z-index: 1000;
}
.off-screen-menu.active{
  transform: translateX(0);
}
.search-bar{
  width: 100%;
  max-width: 570px;
  background: rgba(230, 230, 230, 0.21);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 4px 16px;
  height: 30px;
}
.search-bar-wrapper{
  flex: 1;
  display: flex;
  height: 38px;
  justify-content: center;
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  padding-left: 10px;
  color: #523929;
  line-height: 1.1;
}
::placeholder{
  color: #70503ba8;
}
.search-bar svg{
  border: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0);
  padding-top: 1px;
}
#clear{
  cursor: pointer;
  display: none;
}
#clear:hover{
  background-color: #5d463775;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #5d463775;
}


.header-welcome {
  color: #fff;
  background-image: url("images/food_background.jpg");
  background-size: cover;
  background-position-y: -170px;
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.recipePic-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto 30px auto; /* center the row and add bottom spacing */
}
.section{
  position: relative;
  align-items: center;
  margin: 0 auto 30px auto;
  max-width: 1100px;
}
.section button{
  position: absolute;
  top: 36%;
  cursor: pointer;
  z-index: 1;
}
.section #left{
  left: -50px;
}
.section #right{
  left: 1070px;
}
.section svg{
  fill: #7e7c7c8b;
}
.section svg:hover{
  fill: #585757;
}
h2{
  font-size: 64px;
}
h3{
  font-size: 40px;
}
p{
  font-size: 20px;
}
.sub-header{
  display: flex;
  gap: 10px;
  align-items: center;
}
.section:not(:last-child){
  margin-bottom: -20px;
}
.recipePic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipePic img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: #d8cdbb;
  border: 2px solid #333;
  border-radius: 6px;
}

.recipePic-caption {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}
 .image-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images per row */
  gap: 30px; /* spacing between cards */
  padding: 20px;
  max-width: 1000px;
  height: fit-content; /* adjust height based on content */
  margin: 20px auto 0 auto; /* center the grid and add spacing */
}

.image-card {
  position: relative;
  width: 293px;
  height: 218px;            
  aspect-ratio: 4 / 3;     /* keeps image height proportional */
  background: url(image.png);
  background-size: cover;
  background-position: center;
}
.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding-top: 13px;
}
.image-card {
  transition: filter 0s;
}
.image-caption {
  margin-top: 8px;
  font-size: 16px;
  color: #000000;
  padding-bottom: 9px;
  font-size: 17px;
}
.image-item:hover{
  cursor: pointer;
  background-color: #b5b2b282;
  filter: brightness(60%);
}
.content h3{
  padding-left: 40px;
}
.caption{
  padding-left: 40px;
}
button{
  border: none;
  justify-content: center;
  padding-right: 80px;
  margin-top: 1px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #f3efef00;
  transform: translateX(0%);
  transition: transform .3s ease;
}
.hitbox:hover button{
  transform: translateX(30%);
}
.hitbox{
  display: inline-flex;
  justify-content: center;
  padding-left: 20px; 
  cursor: pointer;
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #75202000;
}
/*
.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/